/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


 */









* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #39b54a;
  /* --secondary-color:; */
  --bg-black: #00151e;
  --bg-transparent: #00151ecc;
}

body {
  font-family: Fira Sans;
  background: #f3f8fa;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: #00151e;
}

label {
  font-size: 12px;
}

button {
  font-size: 20px;
  border-radius: 6px;
  padding: 10px 30px;
  border: transparent;
  line-height: 28px;
}

.primary-button {
  background-color: var(--primary-color);
  color: #ffff;
}

.secondary-button {
  border: 2px solid var(--primary-color) !important;
  background: #ffff;
}

/* Navbar */

.nav-link {
  font-size: 20px;
}

.logo img {
  width: 200px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    gap: 1rem;
  }
}

/* herosection */

.hero_image {
  height: calc(100vh - 87.65px);
  /* width: calc(100vw - 20px); */
  position: relative;
}

.hero_section .hero_image img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 12px;
  position: relative;
  object-fit: cover;
  filter: grayscale(100%);
}

.hero_section {
  position: relative;
}

.hero_image .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}
.hero_section .content {
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.hero_section .content .heading {
  box-shadow: 0px 4px 4px 0px #00000040;
  background: #ffffffe5;
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
}

.hero_section .content .heading h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.hero_section .content .heading p {
  font-size: 24px;
}

.hero_section .content .btn_group {
  display: flex;
  gap: 1rem;
}

.hero_section .content .btn_group .primary-button {
  flex-grow: 1;
}

@media (max-width: 600px) {
  .content {
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero_section .content .btn_group {
    flex-wrap: wrap;
  }

  .hero_section .content .btn_group button {
    width: 100%;
  }
}

/* selling made simple screen */

section {
  min-height: 100vh;
  padding: 1rem;
}

section .header {
  text-align: center;
  padding: 1rem;
}

section .header h6 {
  margin-bottom: 0.5rem;
  font-size: 20px;
}

section .header h2 {
  font-size: 40px;
}

.section-body {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.section-body .section-card {
  width: 300px;
  font-size: 20px;
}

.section-body .section-card img {
  height: 324px;
  width: 220px;
  border-radius: 13px;
  object-fit: cover;
}

.section-body .section-card h3 {
  font-weight: 600;
  position: relative;
  margin-block: 0.5rem;
  font-size: 24px;
}

.section-body .section-card h3 span {
  font-size: 156px;
  font-weight: 500;
  line-height: 188.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  position: absolute;
  right: -6px;
  bottom: -57px;
  opacity: 30%;
}

.section-body .section-card p {
  color: #828282;
}

.card-count1 {
  color: #b5a239;
}

.card-count2 {
  color: #39b543;
}

.card-count3 {
  color: #268bad;
}

.card-count4 {
  color: #ad2697;
}

@media screen and (max-width: 900px) {
  .section-body {
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .section-body {
    flex-wrap: wrap;
  }
}

/* why us  */

.why-us {
  margin: 10px;
  background: #ffffff;
}

.why-us .header h6 {
  margin-block: 0.5rem;
  font-weight: 600;
}

.why-us .header p {
  font-size: 31px;
  color: #2e2e2e;
}

.whys-us-cards {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.whys-us-cards .cards .card {
  width: 315px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border: none;
  border-radius: 0;
  padding: 1rem;
}

/* dashed borders for cards */

.whys-us-cards .cards .card.border-bottom_right {
  border-bottom: 2px dashed #39b54a;
  border-right: 2px dashed #39b54a;
}

.whys-us-cards .cards .card.border-left_top {
  border-top: 2px dashed #39b54a;
  border-left: 2px dashed #39b54a;
  position: relative;
}

.whys-us-cards .cards .card.border-left_top::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  background-color: #ffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.whys-us-cards .cards .card .icon {
  width: 70px;
  height: 70px;
  align-self: center;
}

.whys-us-cards .cards .card h3 {
  font-size: 1.5rem;
}

.whys-us-cards .cards .card p {
  font-size: 1rem;
  color: #565656;
}

.whys-us-cards .BGblack-card {
  padding: 1rem;
  width: 450px;
  background-color: #000000;
  border-radius: 30px;
}

.whys-us-cards .BGblack-card h4 {
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.whys-us-cards .BGblack-card .progressbar h4 {
  font-size: 48px;
}

.whys-us-cards .BGblack-card .progressbar progress {
  width: 100%;
}

.whys-us-cards .BGblack-card .property-price {
  font-size: 28px;
  color: #ffff;
  display: flex;
  justify-content: space-between;
}

.BGblack-card .text-center button {
  width: 80%;
}

@media (max-width: 600px) {
  .whys-us-cards {
    flex-wrap: wrap;
  }
}

/* innovative_screen */

.innovative_screen {
  background: #f9f2ea;
}

.innovative_screen .innovative_header .heading h1 {
  font-size: 68px;
}

.innovative_screen .innovative_header .heading p {
  font-size: 16px;
  color: #a5a4a4;
}

.innovative_screen .innovative_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.innovative_screen .innovative_header .images_list {
  display: flex;
  gap: 0.5rem;
}

.innovative_screen .innovative_header .images_list img {
  width: 183px;
  height: 108px;
  border-radius: 8px;
  filter: grayscale(70%);
}

.innovative_screen .innovative_header .images_list img:first-child {
  filter: none;
}

.green_bg-card {
  background: #23493d;
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.green_bg-card ul li {
  color: #ffffff;
  font-size: 24px;
}

.green_bg-card .video img {
  width: 974px;
  height: 469px;
  border-radius: 10px;
  margin-top: -60px;
}

.green_bg-card .video {
  position: relative;
}

.green_bg-card .video .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  padding: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.green_bg-card .video .controls img {
  margin-top: 0;
  width: 40px;
  height: 40px;
}

@media (max-width: 1370px) {
  .green_bg-card .video {
    width: 80%;
  }
  .green_bg-card .video img {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .innovative_header {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .green_bg-card {
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 600px) {
  .innovative_header {
    flex-wrap: wrap;
  }
  .innovative_screen .innovative_header .images_list {
    flex-wrap: wrap;
  }

  .green_bg-card .video{
    width: 100%;
  }

  .green_bg-card .video img {
    width: 100%;
  }

  .green_bg-card {
    flex-wrap: wrap-reverse;
  }

  .innovative_screen .innovative_header .images_list img {
    width: 113px;
  }
}

/* call to action */

.ctc_section {
  padding: 0;
  overflow: hidden;
  position: relative;
}

.ctc_section img {
  width: 100vw;
  height: 100vh;
}

.ctc_section .contentOn-image {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  background: var(--bg-transparent);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ctc_section .contentOn-image .header h2 {
  color: #ffffff;
  font-size: 48px;
}

.ctc_section .contentOn-image .header p {
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0.02em;
}

.ctc_section .contentOn-image .ctc-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.ctc_section .contentOn-image .ctc-form .inputs {
  display: flex;
  gap: 2rem;
}

.ctc_section .contentOn-image .ctc-form .inputs input {
  color: #a2a2a2;
  border: 1px solid #959595;
  padding-inline-start: 0.5rem;
  padding: 10px 16px;
  border-radius: 8px;
  width: 480px;
}

@media screen and (max-width: 900px) {
  .ctc_section .contentOn-image .ctc-form .inputs {
    gap: 1rem;
    flex-grow: 1;
    width: 100%;
  }
  .ctc_section img {
    object-fit: cover;
  }
}

@media (max-width: 600px) {
  .ctc_section .contentOn-image .ctc-form .inputs {
    flex-wrap: wrap;
    gap: 1rem;
    flex-grow: 1;
    width: 100%;
  }

  .ctc_section .contentOn-image .ctc-form .inputs input {
    flex-grow: 1;
  }

  .ctc_section .contentOn-image .ctc-form {
    gap: 1rem;
    align-items: normal;
  }

  .ctc_section .contentOn-image .ctc-form .primary-button {
    width: 100%;
  }

  .ctc_section img {
    object-fit: cover;
  }
}

/* testimonals  */

.testimonals-wrapper {
  background: #ffffff;
  min-height: auto;
}

.testimonals-wrapper .header h2 {
  font-size: 48px;
  font-weight: 300;
  line-height: 57.6px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.testimonals-wrapper .header p {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.testimonals-wrapper .testimonals {
  display: flex;
  justify-content: space-between;
}

.testimonals-wrapper .testimonals img {
  width: 177px;
  height: 140px;

  opacity: 0.2px;
}

.testimonals-wrapper .testimonals .testimonal {
  width: 354px;
  height: 317px;
  padding: 10px;
  gap: 10px;
  border-radius: 12px;
  opacity: 0;
  border: 1px solid #fdfffe;
  background: var(--primary-color);
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonals-wrapper .testimonals .testimonal .client h2 {
  font-size: 48px;
  font-weight: 300;
  line-height: 57.6px;
  color: #ffffff;
}

.client_location {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
}

@media screen and (max-width: 900px) {
  .testimonals-wrapper .testimonals img {
    display: none;
  }

  .testimonals-wrapper .testimonals {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .testimonals-wrapper .testimonals .testimonal{
    width: 100%;
    height: fit-content;
  }
}

/* @media (max-width: 600px) {
  .testimonals-wrapper .testimonals {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .testimonals-wrapper .testimonals img {
    display: none;
  }
} */

/* footer */

footer {
  background-color: #000000;
  color: #ffffff;
}

.footer-header h3 {
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.footer-header .text input {
  color: #a2a2a2;
  border: 1px solid #959595;
  padding-inline-start: 0.5rem;
  padding: 10px 16px;
  border-radius: 8px;
  width: 480px;
}

.social-links {
  display: flex;
  gap: 1.5rem;
}

.quick-links h3 {
  font-size: 32px;
  color: #e6e6e6;
  margin-bottom: 1rem;
}

.quick-links ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}

.quick-links ul div li {
  margin-bottom: 1rem;
  cursor: pointer;
}

.divider {
  margin-block: 4rem;
  text-align: center;
}

.divider img {
  width: 80%;
}

@media (max-width: 600px) {
  .footer-header .text {
    display: flex;
    gap: 0.5rem;
  }

  footer .divider {
    margin-block: 1rem;
  }

  .footer-header {
    margin-bottom: 1rem;
  }
  .quick-links h3 {
    margin-top: 1rem;
  }
}
