@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --border: 0 0% 89.8%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --border: 0 0% 14.9%;
  }
}

@layer utilities {
  .border-border {
    border-color: var(--border);
  }
}

/* @layer base {
  body {
    @apply bg-background text-foreground;
  }

  * {
    @apply border-border;
  }
} */

.hero-section {
  background-image: url('../public/images/hero-new.jpg');
  padding-top: 12rem;
}
.discover-section{
  background-image: url('../public/images/discover.jpg');
}
.login-bg{
  background-image: url('../public/images/hero2.jpg');
}
.text-gold {
  color: #B5A239;
}
.text-blue {
  color: #3BC3FD;
}
.text-teal {
  color: #268BAD;
}
.text-pink {
  color: #AD2697;
}